.fade {
    width: 100%; 
    height: 100%; 
    position: absolute;
    background-color: #1b1b1b;    
    opacity: 0.3;    
}

.modal {
    position: absolute;
    top: 10%; 
    left: 0; 
    right: 0; 
    margin: 0 auto; 
    height: 600px;
    width: 600px;
    z-index: 1; 
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    border-radius: 7px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.modal h2 {
    margin-bottom: 1em; 
}

.modal form { 
    width: 90%; 
}

.hide {
    display: none !important;
    width: 60% !important;
}

.show {
    display: block !important;   
}

